.example-card {
    max-width: 300px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
  
    background: white
  }

  .example-header-image {
    background-image: url('/assets/login.png');
    background-size: cover;
  }

  
  .background-screen {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  
  

  .title {
    width: 100%;
  }

  .login-card {
    height: 100%;
  }

  .fontTrue {
    font-size: larger;
   }
   
   .fontFalse {
       font-size: medium;
       color: red;
   }
   