
<header class='WhiteHeader'>
    <!--Upper nav-->
    <nav class='WhiteHeader_upperBar'>
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
        <!--Logo-->
        <div fxFlex='25' class='WhiteHeader_left'>
          <svg class='Logo' viewBox="0 0 600 250" >
            <!-- <svg class='Logo' viewBox="55 -55 1000 250" > -->
            <text class='Logo' x="50%" y="50%" fill="black" text-anchor="middle" >
              Terminal Y
            </text>
          </svg>
        </div>
        <!--Profile-->
        <div fxFlexOffset="48" fxFlex='37'>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap='15px'>
            <div >
              <form>
                <input type="search" placeholder="Search">
              </form>
            </div>
              <div class='Login' *ngIf='!accountName' routerLink="/login">
                Login
              </div>
              <div class='Register' *ngIf='!accountName' routerLink="/register">
                Register
              </div>
              <div class='Register' *ngIf='accountName'>
                <button mat-button [matMenuTriggerFor]="menu"> Hi {{ accountName }} !</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)='logout()'>Logout<mat-icon>exit_to_app</mat-icon></button>
                </mat-menu>
              </div>
              <div>
                <mat-icon class='icon' matBadge="{{countCart}}" matBadgeColor="warn">shopping_cart</mat-icon>
              </div>
              <div>
                <mat-icon class='icon' matBadge="{{countFavor}}" matBadgeColor="warn">favorite</mat-icon>
              </div>
          </div>
        </div>
      </div>
    </nav>
  
    <!--Lower nav-->
    <nav class='WhiteHeader_lowerBar'>
      <div>
        <button class='menBtn' mat-button [matMenuTriggerFor]="kindMenu">Men</button>
        <button class='womenBtn' mat-button [matMenuTriggerFor]="kindMenu">Women</button>
        <mat-menu #kindMenu="matMenu" xPosition="after" class='sizeMenu'>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" >
              <div fxFlexOffset='15' fxFlex='35'>
                <strong><u>Suits</u></strong>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
              </div>
              <div fxFlexOffset='15' fxFlex='35'>
                <strong><u>T-shirts</u></strong>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
              </div>
              <div fxFlexOffset='15' fxFlex='35'>
                <strong><u>Socks</u></strong>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
              </div>
              <div fxFlexOffset='15' fxFlex='35'>
                <strong><u>Shoes</u></strong>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
                <p>test1</p>
              </div>
        </div>
        </mat-menu>
      </div>
    </nav>
  </header>
  <app-clothes (countItems)='changeCountCart($event)' (countFavor)='changeCountFavor($event)'></app-clothes>
  