<mat-card class="example-card">
    <img (click)='openViewCard()' class='image' mat-card-image src="{{this.cloth.img}}">
    <mat-card-content>
      <p>
        {{ cloth.name }}
      </p>
      <p>{{ cloth.price}}₪</p>
        <svg *ngFor="let color of colors" height="37" width="30">
        <circle cx="15" cy="25" r="10" stroke="grey" stroke-width="2" [attr.fill]=color />
      </svg>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='addToFavorite()'>Favorite</button>
    </mat-card-actions>
  </mat-card>