<mat-card class="example-card">
    <img mat-card-image src="https://media.terminalx.com/pub/media/catalog/product/cache/92af6b9c945798a7e3b64d91033084b3/x/6/x609190008-11607527102.jpg">
    <mat-card-content>
      <p>
        {{ cloth.name }} {{ cloth.color }}    {{ cloth.price}}₪
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='addToCart()'>Add to cart</button>
      <button mat-button (click)='addToFavorite()'>Favorite</button>
    </mat-card-actions>
  </mat-card>