<div fxLayout="column" fxLayoutAlign="start center" class='sizeDialog' fxLayoutGap='15px'>
    <div fxFlex=10 class='viewCard'>
        <nav class='WhiteHeader_lowerBar'>
            <div  fxLayout="row" fxLayoutAlign="end center">
              <button class='womenBtn' mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
            </div>
          </nav>
    </div>
    <div fxFlex=80 class='viewCard'>
        <div fxLayout="row" fxLayoutAlign="space-around center" class='viewHeightCard'>
            <div fxFlex=60 fxLayout="column" fxLayoutAlign="start start" fxLayoutGap='35px' class='viewHeightCard'>
                <div>
                    <h2>{{this.data.name}}</h2>
                   
                </div>
                <div>
                    <h2 class='price'> {{this.data.price}}₪</h2>
                </div>
                <div>
                    <h2>
                        Colors:
                    </h2>
                        <svg *ngFor="let color of colors" height="37" width="30">
                            <circle cx="15" cy="25" r="10" stroke="grey" [attr.stroke-width]="this.colorsProperties[color]" [attr.fill]=color (click)="colorClicked($event, color)"/>
                        </svg>
                </div>
                <div>
                    <h2>Size:</h2>
                    <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap='20px'>
                        <div *ngFor="let size of sizes" class='colorSizes' (click)="sizeClicked($event, size)">
                            <p><b *ngIf="currSize==size"><u>{{ size }}</u></b></p>
                            <p *ngIf="currSize!=size">{{ size }}</p>
                        </div>
                    </div>
                </div>
                <div style="width: 90%;">
                    <button type="submit" title="הוספה לסל" class="toCart">
                        <span>Add to cart</span>
                    </button>
                </div>
            </div>
            <div fxFlex class='viewHeightCard'>
                <img class='image' mat-card-image src="{{this.data.img}}" >
            </div>
        </div>
    </div>
</div>