.WhiteHeader_lowerBar {
    height: 35px;
    box-shadow: 0 1px rgba(32,33,37,0.12);
    position: relative;
}

.viewCard {
    width: 100%;
}

.viewHeightCard {
    height: 100%;
}

.sizeDialog {
    width: 100%;
    height: 100%;
}


.image {
    height: 463px;
}

.toCart {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 95%;
}

.price {
    font-size: 1.3rem;
}

.colorSizes {
    color: grey;
}

.pointerModal {
    cursor: pointer;
}