<!DOCTYPE html>
<html>
<header class='WhiteHeader'>
  <!--Upper nav-->
  <nav class='WhiteHeader_upperBar'>
    <div  fxLayout="row" fxLayoutAlign="start center" >
      <!--Logo-->
      <div fxFlex='25' class='WhiteHeader_left'>
        <svg class='Logo' viewBox="0 0 600 250" >
          <text class='Logo' x="50%" y="50%" fill="black" text-anchor="middle" >
            Terminal Y
          </text>
        </svg>
      </div>
      <!--Profile-->
      <div fxFlexOffset="50" fxFlex='35'>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap='15px'>
          <div >
            <form>
              <input type="search" placeholder="Search">
            </form>
          </div>
            <div class='Login' >
              Login
            </div>
            <div class='Register'>
              Register
            </div>
            <div>
              <mat-icon class='icon'>shopping_cart</mat-icon>
            </div>
            <div>
              <mat-icon class='icon'>favorite</mat-icon>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <!--Lower nav-->
  <nav class='WhiteHeader_lowerBar'>
    <div>
      <a class='menBtn'>men</a>
      <a class='womenBtn'>women</a>
    </div>
  </nav>
</header>
<body>
 
</body>
</html>